---
import { Image } from 'astro:assets';
import ReCAPTCHA from 'react-google-recaptcha';
---

export default function ContactInfo({ onRecaptchaChange, onDisplayInfo }) {
   return (
      <div>
         <h3 class="text-gray-500">Téléphone : </h3>
         <p>+33 06 ** ** ** 98</p>
         <h3 class="text-gray-500">Email : </h3>
         {/* Display email and phone number only if reCAPTCHA is verified */}
         <ReCAPTCHA sitekey="YOUR_RECAPTCHA_SITE_KEY" onChange={onRecaptchaChange} />
         <p onClick={onDisplayInfo} style={{ cursor: 'pointer' }}>Click to reveal contact info</p>
      </div>
   );
}
