---
interface Props {
	title?: string;
	aDate? : string;
	company?: string;

}

const {title, aDate, company} = Astro.props;
---

<>
	
	{title ? 
		<h2 class=" text-lg font-semibold">{title}</h2>
	: ""}

	{aDate ? 
		<div class="flex">
			<h4 class=" text-[#82848B]">{aDate}</h4> {company ? 
				<span class="text-[#82848B]">&nbsp; | &nbsp;</span>
				<h4 class="font-semibold">{company}</h4> : ""}
		</div>
	: ""}

	<slot />
</>
