---
interface Props {
	title?: string;
	aDate? : string;
	company?: string;

}

const {title, aDate, company} = Astro.props;
---

<>
	
	{title ? 
		<h2 class=" text-lg font-semibold">{title}</h2>
	: ""}

	{aDate ? 
		<div>
			<h4 class=" text-[#82848B]">{aDate}</h4> {company ? <h4>{" | "+company}</h4> : ""}
		</div>
	: ""}

	<slot />
</>
